@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
  --main-color: #1F2828;
  --secondary-color: #238289;
  --footer-color: #1A2222;
  --selection-color: #9CB6B8;

  --text-light: #FFFFFF;
  --text-dark: #1F2828;
}

::selection{
  background: var(--selection-color);
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

h1, h2, h3, p {
  padding: 0;
  margin: 0;
}

body {
  background-color: var(--footer-color);
  color: var(--text-dark);
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  position: relative;
}

