.main {
  height: 100%;
  width: 100%;
  display: flex;
  overflow: hidden;
  position: relative;
  background-color: var(--text-light);
  z-index: 0;
}

.textBlue {
  color: var(--secondary-color) !important;
}

.content {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
}



.header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
  padding: 24px 12px 12px 12px;
  background-color: var(--footer-color);

  p {
    color: var(--text-light);
    font-size: 25px;
  }

  .separatorBar {
    width: 3px;
    height: 22px;
    background-color: var(--text-light);
    transform: translateY(-2px);
  }
}



.rankContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 20px;
  padding: 50px 12px 70px 12px;

  h1 {
    width: 50%;
    color: var(--text-light);
    background-color: var(--main-color);
    text-align: center;
    padding: 5px 20px;

    span {
      display: none;
    }
  }

  .rankCard {
    width: 100%;
    background-color: #1F2828;
    display: flex;
    align-items: center;
    font-size: 25px;
    padding: 5px;

    .iconContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 0 30px 0 25px;
      width: 65px;

      h1 {
        font-size:25px;
        padding: 0;
      }

      .rankIcon {
        width: 25px;
      }
    }

    .contentContainer {
      width: 100%;
      background-color: #ffffff;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding: 10px;

      .contentRank {
        display: flex;
        gap: 5px;
      }
    }
  }
}



.timeContainer {
  background-color: var(--main-color);
  padding: 70px 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;

  .timeTitle {
    background-color: var(--secondary-color);
    width: fit-content;
    padding: 5px 20px;

    h1 {
      color: var(--text-light);
      font-size: 30px;
      transform: translateY(2px);
      text-align: center;
    }
  }

  .timer {
    display: flex;
    gap: 20px;

    p {
      color: var(--text-light);
      font-size: 50px;
    }

    .timeLetter {
      font-size: 30px;
    }
  }
}



.socialMobileContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--footer-color);
  gap: 50px;
  padding: 50px 0;

  a {
    display: flex;
    align-items: center;
    font-size: 30px;
    text-decoration: none;
    gap: 5px;

    svg {
      color: var(--text-light);
      height: 23px;
      width: 23px;
      transform: translateY(-2px);
    }

    p {
      display: none;
    }

    &:hover {
      svg {
        color: var(--secondary-color);
      }
    }
  }
}

.socialComputerContainer {
  display: none;
}

.leftPictures {
  visibility: hidden;
  height: 0;
  width: 0;
  position: absolute;
}

.background {
  visibility: hidden;
  position: absolute;
}




@media (min-width: 1024px) {
  .content {
    width: 50%;
    padding: 24px 48px 48px 48px;
    min-width: 800px;
    height: 100vh;
    justify-content: space-between;
  }

  .header {
    justify-content: left;
    background-color: transparent;
    padding: 12px 0;

    p {
      color: var(--text-dark);
      font-size: 31px;
    }

    .separatorBar {
      width: 3px;
      height: 22px;
      background-color: var(--text-dark);
      transform: translateY(-2px);
    }
  }

  .rankContainer {
    padding: 0;
    width: 80%;
    align-items: flex-start;
    gap: 10px;

    h1 {
      width: fit-content;
      padding: 5px 30px;
      text-wrap: nowrap;
      span {
        display: inline-block;
      }
    }

    .rankCard {
      animation: rankSlide 800ms ;

      .iconContainer {
        padding: 0 25px 0 20px !important;

        .rankIcon {
          width: 20px !important;
        }
      }

      .contentContainer {
        position: relative;
        flex-direction: row !important;
        justify-content: space-between;

        .contentTotal {
          background-color: var(--main-color);
          color: var(--text-light);

          position: absolute;
          top: 0;
          right: 0;

          width: 150px;
          height: 100%;

          display: flex;
          align-items: center;
          justify-content: center;

          padding: 10px 5px 10px 10px;
        }
      }
    }
  }

  @keyframes rankSlide {
    from {
      transform: translateX(40px);
      opacity: 0;
    }
    to {
      transform: translateX(0px);
      opacity: 1;
    }

  }

  .timeContainer {
    background-color: transparent;
    padding: 0;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0;

    .timeTitle {
      padding: 5px 50px;

      h1 {
        font-size: 40px;
      }
    }

    .timer {
      gap: 30px;
      transform: translateY(-0px);
      padding: 0;
      margin: 0;
      text-wrap: nowrap;

      p {
        color: var(--text-dark);
        font-size: 180px;
      }

      .timeLetter {
        font-size: 90px;
      }
    }
  }

  .socialMobileContainer {
    display: none;
  }

  .socialComputerContainer {
    display: flex;
    align-items: center;
    gap: 30px;

    a {
      background-color: var(--main-color);
      width: fit-content;
      padding: 5px 15px;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 20px;
      text-decoration: none;
      color: var(--text-light);
      transition: 100ms;
      gap: 10px;

      svg {
        height: 14px;
        transform: translateY(-1px);
      }

      &:hover {
        transform: translate(2px, -2px);
      }
    }
  }

  .leftPictures {
    visibility: visible;
    position: relative;
    width: 50vw;
    height: 100%;

    .ekkoImage {
      position: absolute;
      z-index: 100;
      left: 150px;

      img {
        position: absolute;
        height: 100vh;
      }
    }
  }

  .background {
    visibility: visible;
    z-index: -100;
  }
}





@media only screen and (min-resolution: 2dppx) {
  .header {
    padding: 0;
    p {
      font-size: 20px;
    }
  }

  .rankContainer {
    h1 {
      font-size: 20px;
    }

    .rankCard {
      font-size: 20px;
    }
  }

  .timeContainer {
    .timeTitle {
      h1 {
        font-size: 30px;
      }
    }

    .timer {
      p {
        font-size: 100px !important;
        height: fit-content;
      }

      .timeLetter {
        font-size: 50px;
      }
    }
  }

  .socialComputerContainer {
    a {
      font-size: 15px;
      gap: 5px;

      svg {
        height: 10px;
      }
    }
  }

  .leftPictures {

    .ekkoImage {
      left: -100px;
    }
  }
}
